.push-menu{
	position								: relative;
	height									: 100%;
	overflow-y: auto; /* Enables vertical scrolling */
    scrollbar-width: none; /* For Firefox */
	
	
    
    /* Hides the scrollbar in WebKit-based browsers */
    &::-webkit-scrollbar {
        display: none;
    }
	@include fromTo(s,lg){
		background-color: white;
		&.push-menu-overflow{
			overflow: hidden;
		}
		overflow-y							: auto;
		height								: 100%;
		width								: 100%;
		max-width							: 480px;
		&::-webkit-scrollbar {
			display							: none;
		}
		-ms-overflow-style					: none;
		scrollbar-width						: none;
		&__li{}
		&__anchor{
			text-decoration					: none;
			font							: normal normal bold 16px/20px Metropolis;
			letter-spacing					: 0px;
			color							: #02263C;
			// border							: 1px solid red;
			display							: block;
			height							: 50px;
			display							: flex;
			align-items						: center;
			// padding							: 0 15px;
			position						: relative;		
			background-repeat				: no-repeat;
			background-position				: 10px;	
			text-transform					: capitalize;
			border-bottom					: 1px solid #dddddd;
			padding-left					: 40px;
			&.arrow-sub-menu{
				&::after{
					content					: "";
					background-image		: url('images/mb-menu-arrow-right.svg');
					background-repeat		: no-repeat;
					position				: absolute;
					width					: 15px;
					height					: 20px;
					top						: 18px;
					right					: 10px;
					z-index					: 1;
				}
			}
		}
		&__anchor-mb-ico{
			position: absolute;
			left: 5px;
		}
		&__anchor-dk-ico{
			display: none;
		}
		&__sub-menu-container{
			background-color				:white;
			color							: #02263C;
			position						: absolute;
			top								: 0;
			width							: 100%;
			max-width						: 480px;
			height							: 100vh;
			transform						: translateX(100%);
			transition						: transform 0ms ease-in;
			display							: none;
			z-index							: 1000;
			&.active {
				transform					: translateX(0%);
				display						: block;
			}
		}
		&__sub-menu-ul{}
		&__sub-menu-li{
			margin							: 0;
			padding							: 0;
		}
		
		&__sub-menu-anchor-single{
			text-decoration					: none;
			font							: normal normal bold 16px/20px Metropolis;
			letter-spacing					: 0px;
			color							: #02263C;
			display							: block;
			height							: 50px;
			display							: flex;
			align-items						: center;
			padding							: 0 15px;
			position						: relative;		
			background-repeat				: no-repeat;
			background-position				: 10px;	
			text-transform					: capitalize;
			border-bottom					: 1px solid #dddddd;
			&.arrow-sub-menu{
				&::after{
					content					: "";
					background-image		: url('images/mb-menu-arrow-right.svg');
					background-repeat		: no-repeat;
					position				: absolute;
					width					: 15px;
					height					: 20px;
					top						: 18px;
					right					: 10px;
					z-index					: 1;
				}
			}
		}
		&__sub-menu-anchor{
			text-decoration					: none;
			font							: normal normal bold 16px/20px Metropolis;
			letter-spacing					: 0px;
			color							: #02263C;
			display							: block;
			height							: 50px;
			display							: flex;
			align-items						: center;
			padding							: 0 15px;
			position						: relative;		
			background-repeat				: no-repeat;
			background-position				: 10px;	
			text-transform					: capitalize;
			border-bottom					: 1px solid #dddddd;
			&.arrow-sub-menu{
				&::after{
					content					: "";
					background-image		: url('images/mb-menu-arrow-right.svg');
					background-repeat		: no-repeat;
					position				: absolute;
					width					: 15px;
					height					: 20px;
					top						: 18px;
					right					: 10px;
					z-index					: 1;
				}
			}
		}
	}
	@include from(lg){
		display								: flex;	
		flex-wrap							: wrap;
		justify-content						: flex-start;
		// flex-direction						: column;
		&__li:first-child{
			flex							:none;
			width							: 100%; 
			margin-bottom					: 30px;	
			
		}
		&__li:first-child > a{
			text-align: center;
			display: block;
			
		}
		&__li{
			flex							:none;
			width							: 16.6666666667%; 
			margin-bottom					: 30px;		
		}
		&__anchor-single{
			font							: normal normal bold 24px/36px Metropolis;
			color							: white;
			text-decoration					: none;
			font-weight						: bold;
			text-transform					: capitalize;
			// border							: 1px solid red;
			display							: block;
			padding-left					: 40px;
			background-repeat				: no-repeat;
			background-position				: 0;
			cursor							: default;
			position						: relative;
			
		}
		&__anchor{
			font							: normal normal bold 24px/36px Metropolis;
			color							: white;
			text-decoration					: none;
			font-weight						: bold;
			text-transform					: capitalize;
			// border							: 1px solid red;
			display							: block;
			padding-left					: 40px;
			background-repeat				: no-repeat;
			background-position				: 0;
			cursor							: default;
			position						: relative;
			
		}
		&__anchor-mb-ico{
			display: none;
		}
		&__anchor-dk-ico{
			position: absolute;
			left: 5px;
			top: 3px;
		}
		&__sub-menu-container{
		}
		&__sub-menu-ul{}
		&__sub-menu-li{}
		&__sub-menu-anchor{
			font							: normal normal normal 20px/36px Metropolis;
			color							: white;
			text-decoration					: none;
			text-transform					: capitalize;
			display							: block;
			padding-left					: 40px;
		}
	}
}
