/*top widget*/
.top-widget{
	width							: 100%;
	height							: var(--top-widget-height);
	padding							: 0 15px;
	display							: flex;
	align-items						: center;
	justify-content					: flex-start;
	@include from(lg){
		padding						: 0 30px;
	}
	@include fromTo(s,sm){
		&.top-widget-hidden{
			display					: none;
		}
	}
}
