/*Here start ODds Widgets styles*/
.odds-custom-style .tw-max-w-3xl {
  max-width: 100%;
}
.odds-custom-style > .tw-w-full{
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}
.odds-custom-style .tw-bg-zinc-100 {
  background-color: White !important;
}

.odds-custom-style .tw-bg-\[\#E4E4E4\] {
  background-color: white !important;
}

.odds-custom-style .tw-border-t-\[1px\] {
  border-top-width: none;
  border-top: 1px solid white;
}

.odds-custom-style .tw-border-b-\[1px\] {
  border-bottom-width: 1px;
  border-bottom: 1px solid white;
}

.odds-custom-style .tw-block {
  font: normal normal 600 15px/12px Poppins;
  letter-spacing: -0.15px;
  color: #000000;
  text-transform: uppercase;
}

/* .odds-custom-style .tw-hidden{
font: normal normal 600 15px/12px Poppins;
 letter-spacing: -0.15px;
 color: #000000;
 text-transform: uppercase;
 } */
.odds-custom-style .tw-w-full > .tw-py-1 {
  background: white !important;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.odds-custom-style .tw-w-full > .tw-max-w-3xl > .tw-w-full:nth-child(1) .tw-text-center:first-child {
  font: normal normal medium 10px/10px Poppins;
  letter-spacing: 0px;
  color: #1F2024;
}
.odds-custom-style .tw-w-full > .tw-max-w-3xl > .tw-w-full:nth-child(1) .tw-text-center:last-child {
  font: normal normal 600 10px/10px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.odds-custom-style .tw-w-full > .tw-max-w-3xl > .tw-w-full:nth-child(2) .tw-text-center:first-child {
  color: white;
}
.odds-custom-style .tw-w-full > .tw-max-w-3xl > .tw-w-full:nth-child(2) .tw-text-center:nth-child(2) {
  font: normal normal medium 10px/10px Poppins;
  letter-spacing: 0px;
  color: #1F2024;
  text-transform: uppercase;
}
.odds-custom-style .tw-w-full > .tw-max-w-3xl > .tw-w-full:nth-child(2) .tw-text-center:nth-child(3) {
  font: normal normal medium 10px/10px Poppins;
  letter-spacing: 0px;
  color: #1F2024;
  text-transform: uppercase;
}
.odds-custom-style .tw-w-full > .tw-max-w-3xl > .tw-w-full:nth-child(2) .tw-text-center:nth-child(4) {
  font: normal normal medium 10px/10px Poppins;
  letter-spacing: 0px;
  color: #1F2024;
  text-transform: uppercase;
}

.odds-custom-style .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(4){
  /* border:1px solid red; */
  display:flex !important;
}
/*Here finish ODds Widgets styles*/
/*Here start top Widget styles*/
.top-widget-styles {
	height: 74px !important;
}

.top-widget-styles > .tw-w-full > .tw-w-full{
	background: transparent;
  }

.top-widget-styles > .tw-w-full{
  background: white;
}
.top-widget-styles > .tw-w-full > .tw-w-full .scroll_container .game-dates {
  border-right: 2px solid #e5e5e5;
}
.top-widget-styles > .tw-w-full > .tw-w-full .scroll_container .game-dates > .tw-w-full{
  background: white;
}
.top-widget-styles .scroll_left {
  background: #f3f3f3;
  border-radius: 50%;
}
.top-widget-styles .scroll_right {
  background: #f3f3f3;
  border-radius: 50%;
}

.top-widget-styles  .tw-w-full > div{
	padding:0 !important;
}

.top-widget-styles  .tw-w-full {
	height: auto !important;
}

.top-widget-styles .tw-w-full .tw-my-2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.top-widget-styles .scroll_left img {
  content: url(images/top-widget-arrow-left.svg);
  width: 35px !important;
}
.top-widget-styles .scroll_left  {
  background:none;
}
.top-widget-styles .scroll_right img {
  content: url(images/top-widget-arrow-right.svg);
  width: 35px !important;
}

.top-widget-styles .scroll_right  {
  background:none;
}
/*Here finish top Widget styles*/

/*Here start the side Widget 1 styles*/
.side-widget-1 > div{
  padding-top: 0;
  width: 100%;
}
.side-widget-1 > div > div{
  margin-top: 0;
}

.side-widget-1 .league{
  /* border: 1px solid red; */
}
 
.side-widget-1 .league > .tw-flex{
  /* border: 1px solid green; */
  height: 60px;
}

.side-widget-1 .league > .tw-flex:first-child img{
  height: fit-content;
  margin: 0;
}

.side-widget-1 .league > .tw-flex:first-child{
  display: flex;
  align-items: center;
  justify-content: center;

}

.side-widget-1 .league > .tw-flex:last-child{
  font: normal normal 600 23px/28px Poppins;
  letter-spacing: -0.46px;
  color: #1F2024;
}

.side-widget-1 .tw-cursor-pointer {
  content: url(images/triangle-bottom.svg);
  width: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
/*  */
 
/*Here finish the side Widget 1 styles*/

/*Here start the schedule Widget styles*/
/* .schedule-custom_styles{} */
.schedule-custom-styles > .tw-w-full > .tw-max-w-3xl{
  max-width: 100% !important;
}

.schedule-custom-styles .tw-bg-\[\#E4E4E4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.schedule-custom-styles .tw-bg-\[\#f8f8f8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.schedule-custom-styles .prev, .tw-text-\[10px\] {
  font-size: 14px;
}

.schedule-custom-styles .next, .tw-text-\[10px\] {
  font-size: 14px;
}

.standing-custom-styles .tw-my-5 .tw-max-w-3xl{
  max-width: 100% !important;
}

.standing-custom-styles .tw-my-5 .tw-max-w-3xl > .tw-text-center {
  /* border: 1px solid blue; */
}

.standing-custom-styles .tw-my-5 .tw-max-w-3xl > .tw-text-center > div {
    background-color: white !important
}
.standing-custom-styles .tw-my-5 .thin-scrollbar{
  /* border: 1px solid blue; */
}

.standing-custom-styles .tw-my-5 .thin-scrollbar .teamsTable > div .tw-bg-zinc-100 {
  background-color: white !important
}

.standing-custom-styles .tw-my-5 .thin-scrollbar .teamsTable > div .tw-bg-gray-200 {
  background-color: white !important
}

.stats-custom-styles .tw-w-full .tw-max-w-3xl{
  max-width: 100% !important;
}
/*Here finish the schedule Widget styles*/


/*Here start the custom-gameOdds Widget styles*/
.custom-gameOdds .tw-max-w-3xl {
  max-width: 100% !important;
}
/*Here finish the custom-gameOdds Widget styles*/



/*Here start the custom-consensusPicks Widget styles*/
.custom-consensus-picks .tw-full .tw-max-w-3xl .tw-full .font-mulish{
  display: flex;
    justify-content: flex-end;
}

.custom-consensus-picks .tw-full .tw-max-w-3xl .tw-full .font-mulish .tabs{
  width: 130px;
  font-size:15px !important;
  border-radius: 3px;
  border:1px solid #2C2E32;
}

.custom-consensus-picks .tw-full .tw-max-w-3xl .tw-full .font-mulish .tw-border-b-2{
  background-color: #2C2E32;
  color: white;
}

.custom-consensus-picks .tw-full .tw-max-w-3xl .tw-full .font-mulish .tabs:nth-child(1){
 margin-right:5px;
}

.custom-consensus-picks .tw-full .tw-max-w-3xl .tw-full .font-mulish{
  border:none;
 }


.custom-consensus-picks .tw-full .tw-max-w-3xl .contenttab .consensus-picks-ml-bet-percentage .tw-flex-row .tw-flex .tw-items-end{
 /* border:1px solid red; */
 position: relative;
 background-image: url('images/graphic_bar_triangle.svg') !important;
 background-repeat: no-repeat !important;
 background-size: 101% !important;
 background-position: 0 -1px !important;
 border-radius: 0;
}

.custom-consensus-picks .tw-full .tw-max-w-3xl .contenttab .consensus-picks-ats-bet-percentage .tw-flex-row .tw-flex .tw-items-end{
  /* border:1px solid red; */
  position: relative;
  background-image: url('images/graphic_bar_triangle.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 101% !important;
  background-position: 0 -1px !important;
  border-radius: 0;
 }

 .custom-consensus-picks .tw-full .tw-max-w-3xl .contenttab .consensus-picks-ou-bet-percentage .tw-flex-row .tw-flex .tw-items-end{
  /* border:1px solid red; */
  position: relative;
  background-image: url('images/graphic_bar_triangle.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 101% !important;
  background-position: 0 -1px !important;
  border-radius: 0;
 }



 .custom-consensus-picks .tw-full .tw-max-w-3xl .contenttab .consensus-picks-ml-money-percentage .tw-flex-row .tw-flex .tw-items-end{
  /* border:1px solid red; */
  position: relative;
  background-image: url('images/graphic_bar_triangle.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 101% !important;
  background-position: 0 -1px !important;
  border-radius: 0;
 }
 
 .custom-consensus-picks .tw-full .tw-max-w-3xl .contenttab .consensus-picks-ats-money-percentage .tw-flex-row .tw-flex .tw-items-end{
   /* border:1px solid red; */
   position: relative;
   background-image: url('images/graphic_bar_triangle.svg') !important;
   background-repeat: no-repeat !important;
   background-size: 101% !important;
   background-position: 0 -1px !important;
   border-radius: 0;
  }
 
  .custom-consensus-picks .tw-full .tw-max-w-3xl .contenttab .consensus-picks-ou-money-percentage .tw-flex-row .tw-flex .tw-items-end{
   /* border:1px solid red; */
   position: relative;
   background-image: url('images/graphic_bar_triangle.svg') !important;
   background-repeat: no-repeat !important;
   background-size: 101% !important;
   background-position: 0 -1px !important;
   border-radius: 0;
  }


/*Here finish the custom-consensusPicks Widget styles*/


/*Here start the custom-consensusPicks Widget styles*/
.custom-treads .md\:tw-w-1\/2{
  width: 100%
}
/*Here finish the custom-consensusPicks Widget styles*/

/*Here start the custom-consensusPicks Widget styles*/
.custom-singleMatchupResult .tw-max-w-3xl {
  max-width: 100%;
}
/*Here finish the custom-consensusPicks Widget styles*/


/*here start matchups cutom odss*/
.custom-gameOdds{
  background-color: white
}

.custom-gameOdds .tw-w-full{
  background-color: white;
  padding:0
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl:nth-child(1){
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: white;
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl:nth-child(2){
  padding:0
}

/* .custom-gameOdds .tw-w-full .tw-max-w-3xl:nth-child(3){
  border:1px solid red
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl:nth-child(3) .tw-w-28{
  border:1px solid green
} */

.custom-gameOdds .tw-w-full .tw-max-w-3xl:nth-child(3) .tw-overflow-x-auto{
  /* border:1px solid blue; */
  padding-top:8px
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl:nth-child(3) .tw-overflow-x-auto .tw-w-full .tw-w-full:nth-child(2) .tw-w-full .tw-bg-zinc-100{
  background-color:white
}


.custom-gameOdds .tw-w-full .tw-max-w-3xl:nth-child(3) .tw-overflow-x-auto .tw-w-full .tw-w-full:nth-child(2) .tw-w-full .tw-bg-\[\#E8E8E9\]{
  background-color:white
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl .tw-w-full{
  background-color: white
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(3) div:nth-child(2){
  background-color:white;
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(3) div:nth-child(3){
  background-color:white;
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(3) div:nth-child(4){
  background-color:white;
}


.custom-gameOdds .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(4) div:nth-child(2){
  background-color:white;
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(4) div:nth-child(3){
  background-color:white;
}

.custom-gameOdds .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(4) div:nth-child(4){
  background-color:white;
}

/*here end matchups cutom odss*/

/*here start Custom Game Stats */
.custom-game-stats-bar-graphic{
  width:100%
}

/*here end Custom Game Stats */



/*here start custom-investment */
.custom-investment{
  width:100%
}

.custom-investment .tw-w-full .tw-max-w-3xl{
  max-width:100%
}

.custom-investment .tw-w-full .tw-max-w-3xl{
  max-width:100%
}




.custom-investment .tw-w-full .tw-max-w-3xl:nth-child(2) .tw-w-full:nth-child(1) .tw-flex{
  background-color:white;
  border:none;
}



.custom-investment .tw-w-full .tw-max-w-3xl:nth-child(2) .tw-w-full:nth-child(2) .tw-flex{
  background-color:white;
  border:none;
}

.custom-investment .tw-w-full .tw-max-w-3xl:nth-child(2) .horizontal-table-scroll{
  /* border: 1px solid red; */
}

.custom-investment .tw-w-full .tw-max-w-3xl:nth-child(2) .horizontal-table-scroll .font-exo{
  background-color:white;
}

.custom-investment .tw-w-full .tw-max-w-3xl:nth-child(2) .horizontal-table-scroll .font-exo .tw-w-32{
  width: 4rem;
  /* border:1px solid red; */
}

.custom-investment .tw-w-full .tw-max-w-3xl:nth-child(2) .horizontal-table-scroll .font-exo .tw-w-32:nth-child(2){
  font-weight:bold;
  /* border:1px solid red; */
}

/*here end custom-investment */



/*here end custom-trends */

 .custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap{
  background-color:white
}

.custom-treads .tw-w-full{
  padding: 0 !important
}

.custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap .tw-py-4{
  border: none !important;
}



.custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap .tw-py-4 .tw-w-full{
  display: flex;
  width:20%;
  align-items: center;
}

.custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap > div {
  /* border:1px solid red; */
  display:flex;
  margin:0
}

.custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap > div .tw-w-6{
  /* border:1px solid green; */
  width:50%;
}


.custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap .tw-py-4 .tw-w-full:nth-child(1) .tw-w-6{
  width: 3.5 rem;
}




.custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap .tw-py-4 .tw-w-full:nth-child(2){
  width:80%
}

.custom-treads .tw-w-full .tw-my-5 .tw-flex-nowrap .tw-py-4 .tw-w-full div{
  display: none !important
}

/*here end custom-trends */

/*here start custom-stats */
.custom-stats{
  width:100%
}

.custom-stats .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .font-mulish{
  display:flex;
  justify-content:space-between;
  border:none;
 
}

.custom-stats .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .font-mulish .tabs{
  font: normal normal 600 15px/24px Poppins;
  letter-spacing: 0px;
  color: #2C2E32;
  text-transform: uppercase;
  border:1px solid #2C2E32; 
  width:25%;
  padding: 5px 0; 
  border-radius: 3px;
}


.custom-stats .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .font-mulish .tw-font-extrabold{
 background-color:#2C2E32;
 color:white;
}


.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .contenttab .tw-w-full .tw-bg-gray-200{
  background-color: white;
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .contenttab .tw-w-full .tw-bg-zinc-100{
  background-color: white;
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-w-full{
  border:none;
  
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-w-full .tw-uppercase{
  flex-direction:column;
  /* border:1px solid red; */
  padding: 0 0 15px 0
}
.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-w-full .tw-uppercase > div{
  display: none !important;
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-w-full .tw-uppercase .tw-w-6{
  width:30%
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .contenttab .tw-w-full .font-exo .tw-p-2{
  /* border:1px solid red; */
  font: normal normal 600 19px/15px Poppins;
  letter-spacing: 0px;
  color: #000000;
  padding: 15px 0;
  margin:0 !important;
  width:30%;
  
  
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .contenttab .tw-w-full .font-exo{
  /* border:1px solid #ddd; */
  margin-bottom:20px;
  display: flex;
    justify-content: space-between;

 
 
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .contenttab .tw-w-full .font-exo .tw-p-2:nth-child(2){
  color: #9E852E;
  background-color:white;
  margin:0 15px
}

.custom-stats .tw-w-full .tw-max-w-3xl .tab-content-ml .contenttab .tw-w-full .font-exo .tw-p-2:nth-child(1), .tw-p-2:nth-child(3){
  color: #000000;
  background-color:white;
  margin:0 15px;
  background-color: #F3F3F3;
}



.custom-stats .tw-w-full{
  padding:0;
}
/*here end custom-stats */


/*here start custom-head-to--head */
.custom-head-to-head{
  width:100%;
}

.custom-head-to-head .tw-w-full{
  padding:0;
}

.custom-head-to-head .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-bg-zinc-100{
  background-color: white;
}
.custom-head-to-head .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-bg-zinc-100 .tw-p-2{
  background-color: white;
}

.custom-head-to-head .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-w-full:nth-child(1) .tw-uppercase div{
  display:none !important;
}

.custom-head-to-head .tw-w-full .tw-max-w-3xl .tab-content-ml .tw-w-full:nth-child(1) .tw-uppercase .tw-w-6{
  width:25%;
}
/*here start custom-head-to--head */

/*here start custom-ranked */
.custom-ranked{
  width:100%
}

.custom-ranked .tw-full{
  width:100%
}

.custom-ranked .tw-mt-5 .tw-max-w-3xl {
padding-top:0
}

.custom-ranked .tw-mt-5 {
 margin:0
}

.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(2) .font-mulish{
display:flex;
justify-content:space-around;
border: none;
}

.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(2) .font-mulish .tabs{
  font: normal normal 600 15px/24px Poppins;
  letter-spacing: 0px;
  color: #2C2E32;
  text-transform: uppercase;
  border: 1px solid #2C2E32;
  border-radius: 3px;
  width: 30%;
  padding: 5px 0;
}

.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(2) .font-mulish .tw-font-extrabold{
background-color:#2C2E32;
color:white
}




.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(3) .contenttab .tw-bg-gray-200{
  /* border:1px solid green; */
  font: normal normal normal 10px/10px Poppins !important;
  letter-spacing: 0px;
  color: #000000;
  background-color:white;
  border:none;
}

.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(3) .contenttab .tw-bg-zinc-100{
  /* border:1px solid green; */
  font: normal normal normal 10px/10px Poppins !important;
  letter-spacing: 0px;
  color: #000000;
  background-color:white;
  border:none;
}


.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(3) .font-exo{
  display:flex;
  justify-content:space-between;

}
.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(3) .font-exo .tw-p-2{
  /* border:1px solid green; */
  background-color:white;

}


.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(3) .contenttab .font-exo .tw-p-2{
  /* border:1px solid green; */
  background-color:white;
  
}

.custom-ranked .tw-mt-5 .tw-max-w-3xl .tw-w-full:nth-child(3) .tw-w-full div{
  font: normal normal medium 9px/9px Poppins;
  letter-spacing: 0px;
  color: #2C2E32;
  text-transform: uppercase;
}
/*here end custom-ranked */

/*here end custom-consensus-picks */
/* .custom-consensus-picks{} */

/* .custom-consensus-picks .tw-mt-5 .tw-max-w-3xl .tab-content-bet-percent > div .tw-w-full .tw-flex .tw-items-end{
  border: 5px solid black;
} */


.custom-consensus-picks .tw-mt-5 .tw-max-w-3xl .tw-full .tw-w-full > div{
  font: normal normal 600 19px/23px Poppins;
  letter-spacing: -0.38px;
  color: #2C2E32;
  text-transform: uppercase;
}

.custom-consensus-picks .tw-mt-5 .tw-max-w-3xl .contenttab > div .tw-w-full:nth-child(1) .tw-flex .tw-items-end{
  position:relative
}

.custom-consensus-picks .tw-mt-5 .tw-max-w-3xl .contenttab > div .tw-w-full:nth-child(2){
  font: normal normal 600 23px/28px Poppins;
  letter-spacing: -0.46px;
  color: #919192;
}



/*here end custom-consensus-picks */


/*here end custom-injuries */
.custom-injuries .tw-w-full{ 
  padding:0
}

.custom-injuries .tw-w-full .tw-max-w-3xl{ 
  margin:0
}



.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(1) .font-mulish{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom:10px;
}

.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(1) .font-mulish .tw-relative button{
  /* border:1px solid red; */
  font: normal normal 600 22px/23px Poppins;
  letter-spacing: -0.44px;
  color: #2C2E32;
  text-transform: uppercase;
}

.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(1) .font-exo .tw-items-center{
  /* border:1px solid red;   */
  font: normal normal 600 16px/23px Poppins;
  letter-spacing: -0.44px;
  color: #2C2E32;
  text-transform: uppercase;
}

.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(1) .font-mulish .tw-relative button > .tw-mx-2{
  /* border:1px solid red; */
  width:16px;
}


.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .tw-font-medium .tw-w-full:nth-child(1) div:nth-child(1){
  /* border: 1px solid red; */
}
.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .tw-font-medium .tw-w-full:nth-child(1) div:nth-child(2){
  /* border: 1px solid green; */
}
.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .tw-font-medium .tw-w-full:nth-child(1) div:nth-child(3){
  /* border: 1px solid blue; */
}
.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .tw-font-medium .tw-w-full:nth-child(1) div:nth-child(4){
  /* border: 1px solid pink; */
  font: normal normal medium 12px/12px Poppins;
  letter-spacing: 0px;
  color: #9E852E;
}


.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .tw-font-medium .tw-w-full:nth-child(2){
  /* border: 1px solid red; */
}

.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .tw-font-medium .tw-w-full:nth-child(2) div:nth-child(1){
  /* border: 1px solid pink; */
  font: normal normal normal 12px/12px Poppins;
  padding: 5px 10px 5px 0;
}

.custom-injuries .tw-w-full .tw-max-w-3xl .tw-w-full:nth-child(2) .tw-font-medium .tw-w-full:nth-child(2) div:nth-child(2){
  /* border: 1px solid blue; */
  font: normal normal normal 12px/12px Poppins;
  padding: 5px 10px 5px 0;
}

/*here end custom-injuries */


/*here start custom-team-scores */
/* .custom-team-scores{} */

.custom-team-scores .tw-w-full{
  margin:0;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl{
  margin:0;
  padding:0;
  max-width: 100%;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(1){
  /* border: 1px solid blue; */
  background-color: white;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(1) .tw-pl-3{
  /* border: 1px solid blue; */
  font: normal normal 600 19px/23px Poppins;
  letter-spacing: -0.38px;
  color: #1F2024;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(1) .tw-pr-3{
  /* border: 1px solid blue; */
  font: normal normal 600 19px/23px Poppins;
  letter-spacing: -0.38px;
  color: #1F2024;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(2){
  /* border-bottom:none; */
  /* background-color: white; */
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(3){
  border:none;
  /* background-color: white; */
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(4){
  padding-bottom:15px

  /* background-color: white; */
}
.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(2) .tw-py-1:last-child{
  /* border: 1px solid green; */
  background-color: white;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(3) div:first-child .tw-w-6{
  /* border: 1px solid green; */
  width:15%;
  /* background-color: white; */
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(3) div:first-child .tw-hidden{
  /* border: 1px solid green; */
  font: normal normal 600 22px/23px Poppins;
  letter-spacing: -0.44px;
  color: #2C2E32;
  text-transform: uppercase;
  /* background-color: white; */
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(4) div:first-child .tw-hidden{
  /* border: 1px solid green; */
  font: normal normal 600 22px/23px Poppins;
  letter-spacing: -0.44px;
  color: #2C2E32;
  text-transform: uppercase;
  /* background-color: white; */
}


.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto{
  /* display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: space-between; */
   /* border: 1px solid green; */
}



.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(4) div:first-child .tw-w-6{
  /* border: 1px solid green; */
  width:15%;
  /* background-color: white; */
}


@media screen and (min-width: 768px) {
  .custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(n+7){
    width: calc(45%); /* Ten en cuenta el espacio entre los elementos */
    margin-right: 10px; /* Espacio entre los elementos */
    /* background-color: white; */
     border-bottom: 1px solid #ddd;
     display:inline-block;
     padding:0 0 5px 0;
  }

  .custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(n+7) .tw-py-1:nth-child(1){
    display:inline-block;  
    padding:0; 
  }

  .custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(n+7) .tw-py-1:nth-child(2){
    display:inline-block;   
    width:80%;
    text-align:right;
    padding:0; 
  }
}
.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(3) .tw-py-1:last-child{
  /* border: 1px solid red; */
  background-color: white;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(3) .tw-py-1{
  /* border: 1px solid red; */
  /* background-color: white; */
  display:flex;
  align-items:center;
  justify-content:center;
}
.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(4) .tw-py-1{
  /* border: 1px solid red; */
  /* background-color: white; */
  display:flex;
  align-items:center;
  justify-content:center;
}
.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(4) .tw-py-1:last-child{
  background-color: white;
}

.custom-team-scores .tw-w-full .tw-max-w-3xl .tw-mx-auto .tw-w-full:nth-child(4){
  /* border: 1px solid pink; */
  background-color: white;
  margin-bottom:15px;
}



/*here end custom-team-scores */



/*here start custom-predicted */
/* .custom-predicted{} */
.custom-predicted .tw-w-full .tw-max-w-3xl .tw-h-20 .tw-mx-auto{
  font-size: 1.3rem;
}

.custom-predicted .tw-w-full .tw-max-w-3xl .tw-mx-auto{
  /* border:1px solid red; */
  max-width:250px !important;
}

/*here end custom-predicted */

/* .gnsWidget > iframe{
  height:700px
}

.gnsWidget-soccer-standings > iframe{
  height:1100px
} */

/*here start custom-standings */
/* .custom-standings{} */

.custom-standings .tw-my-5 .tw-max-w-3xl{
  /* border:1px solid red; */
  max-width: 100%;
}

.custom-standings .tw-my-5 .tw-max-w-3xl .tw-w-full .font-mulish{
  border: 1px solid #dddddd;
  background-color:white;
  font: normal normal 600 22px/23px Poppins;
  letter-spacing: -0.44px;
  color: #2C2E32;
}

.custom-standings .tw-my-5 .tw-max-w-3xl .tw-w-full .tw-py-1{
  border: 1px solid #dddddd;
  background-color:white;
  font: normal normal 600 18px/23px Poppins;
  letter-spacing: -0.44px;
  color: #2C2E32;
}

.custom-standings .tw-my-5 .tw-max-w-3xl .tw-max-h-80 .teamsTable .tw-cursor-row-resize {
  /* border:1px solid red; */
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  line-height: 23px;
  font-family: Poppins;
}

.custom-standings .tw-my-5 .tw-max-w-3xl .tw-max-h-80 .teamsTable .tw-cursor-row-resize > div{
  background-color:white;
}





.custom-standings .tw-my-5 .tw-max-w-3xl .tw-max-h-80 .teamsTable .scroll_container {
  /* border:1px solid green; */
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  line-height: 23px;
  font-family: Poppins;
}

.custom-standings .tw-my-5 .tw-max-w-3xl .tw-max-h-80 .teamsTable .scroll_container > div{
  background-color:white;
}


/*here end custom-standings */

