
/*Here start top Widget styles*/
.widget .widget_text{
	width:100% !important;
}
.top-widget-styles {
	height: 74px !important;
}

.top-widget-styles > .tw-w-full > .tw-w-full{
	background: transparent;
  }

.top-widget-styles > .tw-w-full{
	background: transparent;
}
.top-widget-styles > .tw-w-full > .tw-w-full .scroll_container .game-dates {
  border-right: 2px solid #e5e5e5;
}
.top-widget-styles > .tw-w-full > .tw-w-full .scroll_container .game-dates > .tw-w-full{
  background: white;
}
.top-widget-styles .scroll_left {
  background: #f3f3f3;
  border-radius: 50%;
}
.top-widget-styles .scroll_right {
  background: #f3f3f3;
  border-radius: 50%;
}

.top-widget-styles  .tw-w-full > div{
	padding:0 !important;
}

.top-widget-styles  .tw-w-full {
	height: auto !important;
}

.top-widget-styles .tw-w-full .tw-my-2 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.top-widget-styles .scroll_left img {
  content: url(images/top-widget-arrow-left.svg);
  width: 35px !important;
}
.top-widget-styles .scroll_left  {
  background:none;
}
.top-widget-styles .scroll_right img {
  content: url(images/top-widget-arrow-right.svg);
  width: 35px !important;
}

.top-widget-styles .scroll_right  {
  background:none;
}
/*Here finish top Widget styles*/

