.wp-block-navigation__container {
	display					: flex;
	align-items				: center;
	justify-content			: space-between;
	font-weight				: normal;
}

.wp-block-navigation-item{	
	&__label{
		font-weight				: bold !important;
	}
}
.wp-block-post-template .wp-block-post .wp-block-column .wp-block-post-title a{
	font-size				: 50px !important;
	line-height				: 65px !important;
	text-decoration			: none !important;
	font-weight				: 600 !important;
	color					: #0E263A !important;
}

