.wp-block-navigation__container {
	display					: flex;
	align-items				: center;
	justify-content			: space-between;
	font-weight				: normal;
}

.wp-block-navigation-item{	
	&__label{
		font-weight				: bold !important;
	}
}
.wp-block-post-template .wp-block-post .wp-block-column .wp-block-post-title a{
	font-size				: 50px !important;
	line-height				: 65px !important;
	text-decoration			: none !important;
	font-weight				: 600 !important;
	color					: #0E263A !important;
}

.entry-title{
	margin					: 10px 0 !important;
}

.entry-title > a{
	color					: #0E263A !important;
	font-size				: 40px !important;
	line-height				: 45px !important;
	text-decoration			: none !important;
	font-weight				: 600 !important;
}

.entry-footer{
	display					: none !important;
}

.nav-links{
	display					: flex !important;
    justify-content			: space-evenly !important;
}

.post-thumbnail{
	width					: 100% !important;
	display					: block;
}

.post-thumbnail > img{
	width					: 100% !important;
	display					: block;
	max-width				: 100% !important;
	border-radius			: 8px;
}

.post-thumbnail .post-thumbnail-inner{
	width					: 100% !important;
	display					: block;
}

.post-thumbnail .post-thumbnail-inner > .wp-post-image{
	width					: 100% !important;
	max-width				: 100% !important;
	border-radius			: 8px; 
}

.wp-caption-text{
	display					: none !important;
}

.top-widget > div{
	width					: 100% !important;
}

.aligncenter {
	display					: block;
	width					: 100%;
}

.aligncenter > img{
	display					: block;
	width					: 100%;
	border-radius			: 8px;
}

.wp-element-caption{
	display					: none !important;
}

.entry{
	background-color		: white;
	padding					: 15px;
	border-radius			: 8px;
	margin-bottom: 30px;
}


.home  .main-container .entry{
	background-color		: #e5e9eb !important;
	padding					: 15px;
	border-radius			: 8px;
	margin-bottom: 30px;
}

.category-description{
	background-color		: white;
	padding					: 15px;
	border-radius			: 8px;
	@include from(lg){
		padding				: 30px;
	}
}
.post-thumbnail{
	position				: relative;
	height					: 442px;
}
.post-thumbnail > img{
	width					: 100% !important;
    height					: 100% !important;
    position				: absolute !important;
    top						: 0 !important;
    left					: 0 !important;
    object-fit				: cover !important;
}

figure .aligncenter, .size-full{
	position				: relative;
	height					: 442px;
}
figure .aligncenter, .size-full > img{
	width					: 100% !important;
    height					: 100% !important;
    position				: absolute !important;
    top						: 0 !important;
    left					: 0 !important;
    object-fit				: cover !important;
}
.post-title-centered{
	text-align				: center;
	@include from(lg){
		margin-right		: 340px;
	}
}

.navigation, .post-navigation{
	display					: none;
}

.article-breadcrumb {
	margin-bottom			: 15px;
}

.article-breadcrumb > a{
	font					: normal normal normal 14px/21px Metropolis;
	letter-spacing			: 0px;
	color					: #000000;
	text-decoration			: none;
}


.search-results .image-excerpt-div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	@include from(l){
		flex-direction: row;
	}
}

.search-results article.post {
	border-radius: 8px;
	background-color: white;
	margin-bottom: 30px;
	box-shadow: 9px 14px 11px -10px rgba(102,102,102,0.11);
	-webkit-box-shadow: 9px 14px 11px -10px rgba(102,102,102,0.11);
	-moz-box-shadow: 9px 14px 11px -10px rgba(102,102,102,0.11);
	padding: 15px;
	@include from (l){
		padding: 30px;
	}
}

.image-excerpt-div .featured-image-div{
	width: 100%;
	@include from(l){
		width: 400px;
	}
}
.image-excerpt-div .featured-image-div > img{
	width: 100%;
	display: block;
	border-radius: 8px;
}
.excerpt-div{
	width: 100%;
	@include from(l){
		width: calc(100% - 400px);
		padding-left: 15px;
	}
}
