.wp-block-navigation__container {
	display					: flex;
	align-items				: center;
	justify-content			: space-between;
	font-weight				: normal;
}

.wp-block-navigation-item{	
	&__label{
		font-weight				: bold !important;
	}
}
.wp-block-post-template .wp-block-post .wp-block-column .wp-block-post-title a{
	font-size				: 50px !important;
	line-height				: 65px !important;
	text-decoration			: none !important;
	font-weight				: 600 !important;
	color					: #0E263A !important;
}

.entry-title{
	margin					: 10px 0 !important;
}

.entry-title > a{
	color					: #0E263A !important;
	font-size				: 40px !important;
	line-height				: 45px !important;
	text-decoration			: none !important;
	font-weight				: 600 !important;
}

.entry-footer{
	display					: none !important;
}

.nav-links{
	display					: flex !important;
    justify-content			: space-evenly !important;
}

.post-thumbnail{
	width					: 100% !important;
	display					: block;
}

.post-thumbnail > img{
	width					: 100% !important;
	display					: block;
	max-width				: 100% !important;
	border-radius			: 8px;
}

.post-thumbnail .post-thumbnail-inner{
	width					: 100% !important;
	display					: block;
}

.post-thumbnail .post-thumbnail-inner > .wp-post-image{
	width					: 100% !important;
	max-width				: 100% !important;
	border-radius			: 8px; 
}

.wp-caption-text{
	display					: none !important;
}

.top-widget > div{
	width					: 100% !important;
}

.aligncenter {
	display					: block;
	width					: 100%;
}

.aligncenter > img{
	display					: block;
	width					: 100%;
	border-radius			: 8px;
}

.wp-element-caption{
	display: none !important;
}
