/* Estilos generales para el slider */
.full-width-slider {
    position: relative;
    width: 100%;
    height: 337px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer; /* Cursor pointer para todo el slider */
}

.full-width-slider__item {
    width: 100%;
    height: 337px;
    background-size: cover;
    background-position: center;
}

/* Ocultar el slider en pantallas menores a 769px */
@media (max-width: 768px) {
    .full-width-slider {
        // display: none;
        height: 135px;
    }
    .full-width-slider__item {
        height: 135px;
    }
}

/* Estilos para los botones de navegación (flechas) */
.swiper-button-prev, .swiper-button-next {
    display: none; /* Ocultar inicialmente */
    --swiper-navigation-color: white; /* Color de las flechas */
    --swiper-navigation-size: 30px; /* Tamaño de las flechas */
    border: 1px solid white; /* Opcional: borde para las flechas */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    border-radius: 50%; /* Forma circular */
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    align-items: center; /* Centrar verticalmente la flecha */
    justify-content: center; /* Centrar horizontalmente la flecha */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s; /* Transición suave para la opacidad */
}

/* Mostrar flechas al hacer hover en el slider */
.full-width-slider:hover .swiper-button-prev,
.full-width-slider:hover .swiper-button-next {
    display: flex;
    opacity: 1; /* Visible al hacer hover */
}

/* Estilos adicionales para los botones deshabilitados (si es necesario) */
.swiper-button-disabled {
    opacity: 0.3;
}
