.news-show-more{ 
	margin-bottom				: 35px;	
	&__main-title-container{
		font					: normal normal 600 20px/28px Metropolis;
		letter-spacing			: -0.4px;
		color					: #1F2024;
		
		@include from(m){
			font				: normal normal 600 23px/28px Metropolis;
			letter-spacing		: -0.46px;			
		}
	}
	&__main-title{
		display					: block;
		width					: 100%;
		max-width				: 100%;
		position				: relative;
		margin-bottom			: 20px;
		font					: normal normal bold 20px/22px Metropolis;
		letter-spacing			: 0px;
		color					: #02263C;
		@include from(lg){
			font				: normal normal bold 40px/48px Metropolis;
		}
	}
	&__slug-league{
		text-transform			: uppercase;
	}

	&__grid{
		box-shadow				: 0px 3px 6px #00000029;
		background-color		: white;
		padding					: 15px;
		display					: flex;
		flex-direction			: column;
		border-radius			: 8px;
		@include from(l){
			flex-direction		: row;
		}
		@include from(lg){
			flex-direction		: column;
		}
		@include from(xl){
			flex-direction		: row;
			padding				: 30px;
		}
		margin-bottom			: 20px;
	}
	&__grid-item:first-child{		
		background-repeat		: no-repeat;
		background-size			: cover;
		border-radius			: 8px;
		width					: 100%;
		max-width				: 600px;
		height					: 281px;	
	}
	&__grid-item:last-child{
		display					: flex;
		flex-direction			: column;
		justify-content			: space-between;
		padding					: 15px 0 0 0;
		@include from(l){
			padding				: 0 0 0 15px;	
		}	
		@include from(lg){
			padding				: 15px 0 0 0;
		}	
		@include from(xl){
			padding				: 0 0 0 15px;	
		}	
	}
	&__date{
		font					: normal normal normal 10px/17px Metropolis;
		letter-spacing			: 0px;
		color					: #03253C;
		text-transform			: uppercase;
		display					: block;
		margin-bottom			: 5px;
		margin-top				: 5px;
		@include from(m){
			font				: normal normal normal 12px/17px Metropolis;
			letter-spacing		: 0px;
			margin-top			: 0;
		}
	}
	&__title{
		font					: normal normal 600 24px/26px Metropolis;
		letter-spacing			: -0.54px;
		color					: #03253C;
		display					: block;
		margin-bottom			: 5px;
		@include from(xl){
			font				: normal normal 600 40px/40px Metropolis;
		}	
	}
	&__content{
		font					: normal normal normal 16px/24px Metropolis;
		letter-spacing			: 0px;
		color					: #02263C;
		display					: block;
		margin-bottom			: 5px;
		@include from(xl){
			font				: normal normal normal 20px/30px Metropolis;
		}	
	}
	&__anchor{
		font					: normal normal 600 20px/14px Metropolis;
		letter-spacing			: -0.3px;
		color					: #02263C;
		text-decoration			: none;
		text-align				: right;
		position				: relative;
		background-image		: url("images/arrow-right.svg");
		background-repeat		: no-repeat;
		background-position		: center right;
		padding-right			: 15px;
		width					: 150px;
		margin-left				: auto;
	}
	&__button-expand-container{
		display					: flex;
		justify-content			: center;
		margin-bottom			: 20px;
		justify-content			: center;
	}
	&__button-expand{
		background				: #ffffff;
		border					: 1px solid #03A9FF;
		border-radius			: 8px;
		font					: normal normal bold 18px/18px Metropolis;
		letter-spacing			: 0.51px;
		color					: #03A9FF;
		text-transform			: uppercase;
		width					: 276px;
		cursor					: pointer;
		padding					: 12px 0 10px 0;
		@include from(m){
			font				: normal normal bold 24px/20px Metropolis;
		}
	}
}
