/*here start the slider title styles*/
.slider-title{
	margin-bottom				: 15px;
	&__title-container{
		display					: flex;
		flex-wrap				: nowrap;
		// border					: 1px solid black;
		min-height				: 50px;
		align-items				: center;
		justify-content			: space-between;		
	}
	&__title-item{
		@include fromTo(0px, 375px){
			width: 50%;			
		}
	}
	&__title-head{
		text-transform			: capitalize;
		display					: flex;
		font					: normal normal bold 24px/32px Metropolis;
		letter-spacing			: -0.34px;
		color					: #02263C;
		@include from (lg){
			font: normal normal bold 40px/48px Metropolis;
			letter-spacing: 0px;
			
		}	
		margin					: 0;	
	}
	&__title-anchor{
		font					: normal normal bold 20px/14px Metropolis;
		letter-spacing			: 0px;
		color					: #02263C;
		display					: block;
		text-align				: right;
		text-decoration			: none;
		text-transform			: capitalize;
		position				: relative;
		&::after{
			content				: "";
			background-image	: url('images/chevron-right.svg');
			background-repeat	: no-repeat;
			display				: inline-block;
			width				: 20px;
			height				: 20px;
			transform			: scale(.5);
			position			: relative;
			top					: 5px;
			margin-left			: 5px;
		}
	}
	&__title-anchor-bottom{
		font					: normal normal bold 20px/14px Metropolis;
		letter-spacing			: 0px;
		color					: #02263C;
		display					: block;
		text-align				: right;
		text-decoration			: none;
		text-transform			: capitalize;
		position				: relative;
		&::after{
			content				: "";
			background-image	: url('images/chevron-right.svg');
			background-repeat	: no-repeat;
			display				: inline-block;
			width				: 20px;
			height				: 20px;
			transform			: scale(.5);
			position			: relative;
			top					: 5px;
			margin-left			: 5px;
		}
	}
	&__title-anchor span:last-child{
		display					: none;
		@include from(lg){
			display				: inline-block;
		}	
	}
	&__carousell-container{
		display					: none;
	}
	&__ico{
		margin-right: 10px;
	}
}
/*here finish the slider title styles*/
