:root {
	--header-color			: #03253C;
	--paragraph-color		:#03253C;
	
}

h1, h2, h3, h4, h5, h6{
	color					: var(--header-color);
	margin					: 0;
}

// Default text styles
body {font-family: 'Metropolis' }

@font-face {
	font-family: 'Metropolis';
	src: url('https://fonts.cdnfonts.com/css/metropolis-2');
	font-display: swap;
  }
h1{
	font					: normal normal 600 36px/43px Metropolis;
	letter-spacing			: -0.72px;	
	@include from (m){
		font				: normal normal 600 51px/56px Metropolis;
		letter-spacing		: -0.66px;
	}	
}
h2{
		font				: normal normal 600 29px/35px Metropolis;
		letter-spacing		: -0.58px;
	
	@include from (m){
		font				: normal normal 600 41px/49px Metropolis;
		letter-spacing		: -0.82px;
	}
	
}
h3{
		font				: normal normal 600 24px/29px Metropolis;
		letter-spacing		: -0.48px;
		
	@include from (m){		
		font				: normal normal 600 27px/32px Metropolis;
		letter-spacing		: -0.54px;
	}
	
}
h4{
		font				: normal normal 600 20px/28px Metropolis;
		letter-spacing		: -0.4px;	
	@include from (m){
		font				: normal normal 600 23px/28px Metropolis;
		letter-spacing		: -0.46px;		
	}
	
}
h5{
	font					: normal normal 600 17px/27px Metropolis;
	letter-spacing			: -0.34px;
		
	@include from (m){
		font				: normal normal 600 19px/23px Metropolis;
		letter-spacing		: -0.38px;		
	}
	
}
h6{
		font				: normal normal 600 14px/25px Metropolis;
		letter-spacing		: -0.28px;
	
	@include from (m){
		font				: normal normal 600 15px/27px Metropolis;
		letter-spacing		: -0.3px;		
	}	
} 

p{
	font					: normal normal normal 15px/27px Metropolis;
	letter-spacing			: 0px;
	--paragraph-color		:#1F2024;
	@include from (m){
		font				: normal normal normal 16px/22px Metropolis;
		letter-spacing		: 0px;
	}
}

a{
	font					: normal normal normal 15px/27px Metropolis;
	letter-spacing			: 0px;
	// color					: #9E852E;
}

ul{
   list-style				: none;
   margin					: 0;
   padding					: 0;
	li{
		margin-bottom		: 0;
		
	}
}
